[2015-09-12 16:46] RonnyPfannschmidt opened #3 "sub-process based connections to enable imap over ssh"
for local setups and for all ssh setups its nice to use `ssh myuser@myhost' ~/.local/bin/run-imapserver`
as email client

[2015-09-13 15:48] mattnenterprise commented on #3
@RonnyPfannschmidt Can you please explain this in more detail?

[2015-09-13 17:23] RonnyPfannschmidt commented on #3
instead of using a socket for the input/output, i'd like to run against a process that opens a secure pre-authenticated connection via ssh

so the imap protocol would run against stdin/stdout of a process instead of a socket/ssl socket

[2015-12-10 08:12] singron commented on #3
Couldn't you forward a port over ssh and then connect to localhost? e.g.

[code]

Then connect to localhost:143. This works with all TCP connections without needing library support for ssh.

[2015-12-10 08:18] RonnyPfannschmidt commented on #3
nope, port forwarding doesnt always work, running imapd with stdin/out mode does

plus, why is it necessary to run the protocol on top of a socket, ?

[2015-12-10 08:25] singron opened #6 "latest (0.0.3) crate on crates.io is broken"
The openssl crate removed `SslStream::new`, which was fixed in #5, but that fix isn't available on crates.io yet.

[2015-12-10 08:30] singron commented on #3
A socket on the loopback interface gets optimized by the kernel into basically a pipe. Ssh has to open a socket to a remote machine regardless. Why doesn't port forwarding work?

[2015-12-10 10:34] RonnyPfannschmidt commented on #3
sshd_config disabled in various cases

[2015-12-14 22:38] mattnenterprise commented on #6
I have published an up-to-date crate.

[2015-12-14 22:38] #6 closed

[2016-01-08 23:27] cmr opened #7 "Relicense under dual MIT/Apache-2.0"
This issue was automatically generated. Feel free to close without ceremony if
you do not agree with re-licensing or if it is not possible for other reasons.
Respond to @cmr with any questions or concerns, or pop over to
`#rust-offtopic` on IRC to discuss.

You're receiving this because someone (perhaps the project maintainer)
published a crates.io package with the license as "MIT" xor "Apache-2.0

[2016-01-08 23:30] ArtemGr commented on #7
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option
 -- ArtemGr

[2016-01-09 02:21] frewsxcv commented on #7
I consent to licensing all my contributions as MIT/Apache-2.0

[2016-01-09 02:27] arges commented on #7
I consent to licensing all my contributions as MIT/Apache-2.0
On Jan 8, 2016 8:21 PM, "Corey Farwell" notifications@github.com wrote:

[2016-01-09 10:39] xunien commented on #7
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option

[2016-01-09 20:11] mattnenterprise commented on #7
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option

[2016-01-10 23:52] #7 closed

[2016-04-29 17:32] chshawkn-pub opened #11 "panic on hotmail/outlook.com IMAP fetch"
I put content of example.rs into a test of my project, use imap-mail.outlook.com:993.

I got a panic at 'imap_socket.fetch("2", "body[text]");'.

My env is rust-1.8.0

`
thread 'test_imap_fetch' panicked at 'called`Result::unwrap()`on an`Err`value: FromUtf8Error { bytes: [215, 238, 189, 252, 180, 211, 32, 77, 105, 99, 114, 111, 115, 111, 102, 116, 32, 213, 202, 187, 167, 32, 118, 101, 42, 42, 42,

[2016-05-01 07:10] chshawkn-pub commented on #11
Should not assume encoding is UTF-8 at client.rs:301 let line = String::from_utf8(line_buffer).unwrap();

[2016-05-01 21:23] mattnenterprise commented on #11
@zhl-home1 How do you determine the encoding?

[2016-05-02 06:51] chshawkn-pub commented on #11
That is a problem. There is a lib 'rust-uchardet'. I've used other library in Java, which can give probability result. Is it possible that provide an additional argument let user specify encoding and produce an encoding error instead of a panic.

[2016-06-05 11:34] miquelruiz opened #12 "Panic on connection error"
The "unwrap" call in https://github.com/mattnenterprise/rust-imap/blob/master/src/client.rs#L34 is causing the library to panic on connection errors.

Are you interested in a pull request so it returns an error instead of panicking? That way a connection problem could be properly handled from the caller.

[2016-06-05 23:20] #12 closed

[2016-06-29 23:28] mattnenterprise commented on #3
I have made a change to allow the underlying stream for the client to be customizable. You just need to call : `Client::new(<implements Read and Write>)`. Whatever gets passed into new has to implement the Read and Write traits. @RonnyPfannschmidt Will this help you fix your problem ?

[2016-06-29 23:30] mattnenterprise commented on #11
I'm still not sure of the proper way to fix this. I'm not really sure how to test out any solution I could come up with. @chshawkn-pub Could you help with this ?

[2016-06-30 06:47] RonnyPfannschmidt commented on #3
yes, this allows for just creating a ssh stream with either a ssh protocol abstraction or a subprocess,
well done, lovely :)

[2016-06-30 21:43] #3 closed

[2016-06-30 21:45] mattnenterprise opened #15 "Debug Support"
Support should be added for debugging. It will print both the sent commands, and the data received back from the server.

 Here is an example:
[code]

[2016-07-03 21:33] miquelruiz opened #16 "Support for STORE command"
Is support for the STORE command in the roadmap? (https://tools.ietf.org/html/rfc3501#section-6.4.6)
I could work on it if there's interest.

[2016-07-04 00:10] mattnenterprise commented on #16
I would like to have support for everything eventually. If you want to work on it go for it.

[2016-07-11 17:24] #16 closed

[2016-07-15 00:23] mattnenterprise commented on #15
I have added this in. The client has a public debug flag that can be set after creation of a client.

Ex:

[code]

[2016-07-15 00:23] #15 closed

[2017-01-25 07:55] doomsplayer opened #23 "No checking read size on readline"
at line https://github.com/mattnenterprise/rust-imap/blob/master/src/client.rs#L282, seems like you forget to check the return size of read, as a result, if the `read` always reads 0 bytes, the program will stuck in this loop and never returned until the program runs out of systems memory.

This is the result from strace.
![image](https://cloud.githubusercontent.com/assets/998606/22282312/8f537124

[2017-02-06 17:04] e-oz opened #24 "Please consider to upgrade openssl dependency"
openssl can be compiled with single version only, so in single project all crates with dependency of openssl should use same version of the openssl crate. If you'll upgrade dependency (and it may require some small changes in code), this crate will be more easy to add into projects :)

[2017-02-28 19:45] jonhoo opened #26 "Feature request: IMAP IDLE support"
I'm thinking of porting my mail notification program [hasmail](https://github.com/jonhoo/hasmail) to Rust, but for that I need to be able to use IMAP's `IDLE` command. Is there any chance support for that might be added? I guess I could do it manually using `run_command_and_read_response`, but a more native approach would be really nice. Maybe even exposing `IDLE` as an `Iterator`?

[2017-03-02 03:45] jonhoo opened #28 "More involved parsing"
Currently, all the commands simply return `Vec<String>`. It'd be great if they returned more semantically relevant results (i.e., fully parsed structs). This would also let us make the IDLE handle return an `Iterator` over said structs, so you could monitor changes to the mailbox in real-time.

[2017-03-02 03:50] jonhoo commented on #28
This also applies to arguments. For example, the `sequence_set` argument to `fetch` should probably be a `Vec<Uid>` or something, and should probably return something akin to a `HashMap<Uid, _>`.

[2017-03-02 06:29] vandenoever commented on #24
+1

[2017-03-02 22:34] jonhoo opened #29 "Run rustfmt on the codebase"
The code currently doesn't follow the style dictated by `rustfmt`. It'd be nice if we formatted the code once such that it follows the standard, as that would avoid unnecessary changes in later PRs/commits.

[2017-03-02 22:55] #26 closed

[2017-03-06 20:22] vandenoever commented on #11
I created a PR but it's not the right solution. https://github.com/mattnenterprise/rust-imap/pull/32

`fetch` and `uid_fetch` should determine the number of bytes to read from the first line of the response. It's the value between `{}`. Read that as `Vec<u8>` and return it as is.

To make sense of the mail, use the `mailparse` crate. Parsing mail is not trivial.

[2017-03-06 22:22] vandenoever commented on #11
https://github.com/mattnenterprise/rust-imap/pull/33 introduces a new API. `fetch` and `uid_fetch` now return bytes instead of lines.

[2017-04-10 20:06] ineiti opened #34 "Compiling issue - on mac?"
Beware: Rust-newbie ahead!

I'm trying to use `rust-imap` on a MacOS X 10.11.6 with rust (cargo-0.17.0-dev) and I copy/pasted the example-program from the `README.md`-file into a new project:

[code]

This outputs the following for me:

[code]

Is there a problem with the MacOSX-openssl support? I installed it with `brew install openssl`, but I never know which package it takes. Is this a rust-ima

[2017-05-06 15:49] jrmuizel opened #35 "Port to native-tls"
The native-tls crate has a better portability story than just using openssl does.

[2017-05-13 18:59] dario23 commented on #11
is there anything blocking this? i stumbled over it myself, and would really look forward to this being fixed and #33 being merged :+1:

[2017-06-20 23:14] #23 closed

[2017-09-20 04:40] jonhoo opened #38 "Detect closed connections"
The current code (in [`Client::readline`](https://github.com/mattnenterprise/rust-imap/blob/master/src/client.rs#L485)) ignores the case when `self.stream.read` returns `Ok(0)`, and simply keeps on spinning. However, when `Ok(0)` is returned, this is a signal that the underlying stream has been closed by the other end (see in particular the openssl error code https://docs.rs/openssl/0.9.17/openssl

[2017-09-21 15:52] jonhoo commented on #38
Probably worth noting that this is effectively a duplicate of #23; fe398fb53112c004541885caa51d7e79fdb85ee7 is not a complete fix.

[2017-09-21 15:58] jonhoo commented on #38
Out of curiosity, is there a reason why the [`read_line`](https://doc.rust-lang.org/std/io/trait.BufRead.html#method.read_line) function from the standard library isn't used here? It's more efficient (since it doesn't read one byte at a time), and should correctly handle EOF automatically.

[2017-09-27 21:37] mattnenterprise commented on #38
The only reason that was never used is because the library never used a stream that fulfilled the BufRead trait.

[2017-09-27 21:38] mattnenterprise commented on #38
I would be happy to take a pull request using that read_line function instead.

[2017-09-27 21:38] #38 closed

[2017-09-30 02:33] mattnenterprise commented on #35
@jonhoo What do you think of using native-tls over openssl ? The appveyor build is really complicated because of using openssl. I also see complaints from others about openssl being required to use the same version for it in an entire project.

[2017-09-30 20:17] jonhoo commented on #35
Seems like a good idea to me! It also looks like the transition should be relatively straightforward. @jrmuizel is this something you might want to try out (I'd be happy to give guidance)?

[2017-09-30 21:59] #29 closed

[2017-09-30 22:17] jonhoo commented on #35
nvm, I had some spare time, so implemented it in #43. watch that+this space.

[2017-10-01 02:46] jonhoo commented on #34
Hey @ineiti!

Sorry for the super late response. When working with Rust code, you also need to declare your dependencies. Your project is using `openssl` to connect (see the `extern crate openssl`) line, and that means you must also declare `openssl` as a dependency in your `Cargo.toml` file. See for example https://github.com/jonhoo/buzz/blob/925cdaa8160fcbbba3d25823764ec5d6a7aff3db/Cargo.toml#L2

[2017-10-01 02:46] #34 closed

[2017-10-01 03:06] jonhoo commented on #11
@dario23 + others: I just closed #33, since it is not really the right solution, and presents a much less ergonomic API. See the reasoning in my comment there (https://github.com/mattnenterprise/rust-imap/pull/33#issuecomment-333350073). If this is still a major issue, I'd suggest implementing the (apparently fairly straightforward) extensions from [RFC5738](https://tools.ietf.org/html/rfc5738), w

[2017-10-01 23:53] #35 closed

[2017-10-02 00:13] mattnenterprise commented on #24
It was decided to use native-tls instead of openssl because of portability.

[2017-10-02 00:13] #24 closed

[2017-10-03 14:48] jonhoo opened #45 "Switch from kcov to cargo-tarpaulin"
@mattnenterprise in [`addr2line`](https://github.com/gimli-rs/addr2line), we're [switching](https://github.com/gimli-rs/addr2line/pull/54) to `cargo-tarpaulin` for code coverage, and completely removing `cargo-travis`. Might be something we'll want to do here as well.

[2017-10-03 23:32] mattnenterprise commented on #45
Do you mean you are removing `travis-cargo` (I know the names are really similar) ? I replaced `travis-cargo` with `cargo-travis` in #44. So we just use `cargo-travis` for code coverage. Would there be any advantages to using `cargo-tarpaulin` over `cargo-travis` for code coverage ?

[2017-10-04 00:27] jonhoo commented on #45
Well, `cargo-travis` is only needed because it provides a hook for `kcov`. `cargo-tarpaulin` doesn't use `kcov`; it's written in pure rust, and designed specifically to integrate well with Cargo.

[2017-10-04 00:38] mattnenterprise commented on #45
Sounds like a reason to give it a try. @jonhoo Do you want to work on a pull request for using `cargo-tarpaulin` ?

[2017-10-04 23:34] mattnenterprise opened #48 "Code formatting check in CI"
@jonhoo I'm thinking it might be a good idea to do some sort of code formatting check with rustfmt in CI.

[2017-10-04 23:41] jonhoo commented on #48
We did this in another project I'm involved in: https://github.com/mit-pdos/distributary/pull/31/files#diff-354f30a63fb0907d4ad57269548329e3
I think it's generally a good idea, but the unfortunate thing is that it'll cause false negatives as `rustfmt` gets upgraded and changes the way it formats your code. It shouldn't be *too* bad at this point, since `rustfmt` has gotten decently stable, but it

[2017-10-04 23:47] #45 closed

[2017-10-14 19:53] drevilt opened #50 "Tagging"
Could you use git tags to mark (past and future) released versions?

[2017-10-19 13:07] sanmai-NL commented on #11
@jonhoo: outlook.com does not have the capability for that extension:

[code]

It appears to run Microsoft Exchange in some variant. This kind of server has a [large market share](http://www.radicati.com/?p=10638). We should really do better to support this.

[2017-10-19 13:10] dario23 commented on #11
@jonhoo the rfc also says

so clients will have to be able to deal with non-utf8 message content in any case (and i'm still not sure if the UTF8 support in that RFC does imply message bodies at all, it only explicitly mentions various imap commands that support utf8 parameters if the server advertises the relevant capabilities).

[2017-10-19 13:14] sanmai-NL commented on #11
@jonhoo: In general, not all code depending on this library needs or has resources to decode all IMAP data as UTF-8. An API such as in #33 should be available at least. We can make the API convenient by making the current functions generic by wrapping them in a trait with an [associated type](https://doc.rust-lang.org/book/second-edition/ch19-03-advanced-traits.html#associated-types) `String` or `

[2017-10-19 13:18] sanmai-NL commented on #11
#52 is a first step.

[2017-10-19 15:42] jonhoo opened #54 "Support fetching non-UTF-8 data."
The code currently assumes that all data is valid UTF-8, which is not true for a number of services (#11). A past PR (#33) tried to address this by changing all return types to `Vec<u8>`, but this makes for a much less pleasant API. Some further discussion on this can be found in https://github.com/mattnenterprise/rust-imap/pull/33#issuecomment-333350073. Ideally we'd like more structured response

[2017-10-19 15:42] jonhoo commented on #11
I merged #52, which technically closes this issue. Discussion continued in #54.

[2017-10-19 15:42] #11 closed

[2017-11-01 13:59] sanmai-NL commented on #28
Would you be interested to cooperate with @djc on this? He has written [another IMAP crate](https://crates.io/crates/tokio-imap) that supports [`nom`-based server response parsing](https://github.com/djc/tokio-imap/blob/20721abc6c756c3522e0266a0954728cead13935/src/parser.rs). I suppose a concerted effort is the best way forward. 🙂

[2017-11-01 14:12] djc commented on #28
If you're interested we can probably split the protocol data structures and parser out of tokio-imap so that they can more easily be reused. In terms of encoding, so far I've mostly used str slices, although I recently changed the parser so that it returns bytes for message contents (for the RFC822 FETCH attribute only so far).

[2017-11-01 18:37] jonhoo commented on #28
@djc That would be awesome!

[2017-11-02 09:27] djc commented on #28
The imap-proto crate is now live on crates.io: https://crates.io/crates/imap-proto.

[2017-11-02 19:35] jonhoo commented on #28
Docs at https://docs.rs/imap-proto/0.1.0/imap_proto/. Not too wordy atm, but still useful.
I don't know that I'll have time to look into incorporating this particularly soon, but it's on my radar. Otherwise, PRs welcome!

[2017-11-02 19:49] djc commented on #28
I probably won't work on the integration between rust-imap and imap-proto, but if people find gaps in imap-proto for stuff that rust-imap, I can have a look at those.

[2017-11-02 20:02] jonhoo commented on #28
@djc yeah, I wasn't expecting that you would, just wanted to comment for others watching this issue :)
I might contribute some updates to the docs for `imap-proto` when I get around to incorporating it too.

[2017-11-03 02:54] jonhoo commented on #28
@djc from a cursory review, it looks like `imap-proto` expects all strings to be valid UTF-8. As has been pointed out elsewhere (see #54 for a summary), this can be a problem for some applications. Do you have a plan for the future for how you'll deal with servers that use other charsets?

[2017-11-03 15:06] jonhoo commented on #28
Filed djc/imap-proto#5 including a proposed solution.

[2017-12-23 19:50] cyphar opened #59 "Making imap::client::Client a trait?"
At the moment I'm trying to use this library for some personal tools. One thing I would really like to do is to write a function that "sets up" a client. However (and pardon me if I'm not understanding the problem correctly -- I'm still quite new to Rust) as far as I can tell, there isn't a nice way for me to currently write a function that can return **either** an encrypted client struct (`imap::

[2017-12-24 10:29] jonhoo commented on #59
Welcome to Rust! We *could* have a trait that is implemented by all clients, though I'm hesitant to introduce one as it would be a backwards-incompatible change. Users would now need to import the trait everywhere, and we'd need to introduce a new way of creating clients. One alternative that might work for you is to have two different methods for creating clients, and then write your other method

[2017-12-27 06:18] cyphar opened #60 "APPEND support is incomplete"
At the moment `APPEND` only supports setting the body of the message. However, RFC3501 allows users to specify the flag set to be applied to a message, as well as the date the message was received. Quoting the specification:

[code]

We could change the `append` method to:

[code]

[2017-12-27 10:54] jonhoo opened #62 "Fix crate documentation"
The crate's documentation is currently pretty minimal, especially the top-level docs ([docs.rs/imap](https://docs.rs/imap/0.6.0/imap/) for example has almost nothing). This should be fixed. We should also turn on `#![deny(missing_docs)]` to ensure that things stay documented going forwards.

[2018-01-04 10:43] jkaessens opened #63 "NOTIFY extension and asynchronous events"
I'm currently looking into writing a tool to monitor mailboxes for status changes. The typical way for this is probably SELECT/IDLE but I have quite a lot of mailboxes that I'd like to check. I _could_ get a list of all mailboxes and check their statuses periodically but when I'm on a low-bandwidth connection with unfortunate and expensive mobile plans, that would also be a bad idea.
Therefore, I

[2018-01-05 09:50] jonhoo commented on #63
That's an interesting feature... The way we do this using IDLE is that you cannot simultaneously issue any other requests while an IDLE is ongoing, so every line sent by the server is necessarily a response to the IDLE command. It sounds like that might be how we want to handle NOTIFY too. Maybe have the thing returned by `Client::notify()` implement `Iterator` so that you can iterate over all the

[2018-01-05 13:02] jkaessens commented on #63
Yes. When my `NOTIFY` request signals a new message in a specific mailbox, I would like to `FETCH` it whenever I want, without cancelling the `NOTIFY` and resuming it afterwards. This could also lead to lost updates in other mailboxes as no notifications would be queued up.

For your second question, there is at most one `NOTIFY` active at any time. If you send another `NOTIFY` while one is alread

[2018-01-05 19:02] jonhoo commented on #63
Hmm, yeah, that makes this a little tricky given the way the crate's code is currently set up. Specifically, the `NotifyHandle` would need to hold a mutable reference to the `Client` (to read more lines), while the rest of the code is *also* allowed to keep a mutable reference. The code as currently written is heavily geared towards one-at-a-time command processing, and does not deal well with unt

[2018-01-05 19:13] djc commented on #63
As far as I understand the (IMAP4rev1) protocol, you cannot really run multiple commands at once. I haven't really looked into the IDLE and NOTIFY extensions, though, so I'm unfamiliar with how exactly they do things. It looks like the way it would have to work is that any response might include STATUS messages, and then the client caller will just have to handle that. tokio-imap streams each resp

[2018-01-05 20:00] jonhoo commented on #63
Yeah, that's the impression I had too, which is why IDLE is implemented the way it is in rust-imap at the moment. It's interesting that IDLE/NOTIFY work so differently. @jkaessens perhaps a way to work around this is to open two connections? One to subscribe and one to issue commands. If we did it that way, NOTIFY could be implemented pretty much exactly like IDLE.

I think that's probably a good

[2018-01-06 12:04] jkaessens commented on #63
Actually, many IMAP clients do this. In my IMAP server logfiles, I usually see clients connecting multiple times, i.e. Mozilla Thunderbird's default is 5, and some Android ones open a new connection for every mailbox to be watched (those "push" or "sync" functions).
As for me, using a second connection solely for NOTIFY would be a very nice tradeoff. Even idle connections with the occasional keep-

[2018-01-06 12:36] jonhoo commented on #63
Okay, so in that case it seems reasonable for us to do this the same way we do IDLE — `.notify()` takes an `&'a mut self`, and returns a `NotifyHandle<'a>` that holds the mutable reference to the `Client` until you end it. And if you want to also issue commands, that has to be done on a separate connection?

[2018-01-06 12:39] jonhoo commented on #63
@djc is there currently support in `imap-proto` for parsing untagged `STATUS` responses like:
[code]

[2018-01-06 12:40] jkaessens commented on #63
Other than IDLE, NOTIFY requires a potentially large set of arguments so it would also need a `&str` parameter. But yes, that would work.

[2018-01-06 12:41] jonhoo commented on #63
Oh, yes, sorry, I left out the arguments for clarity. I think I'd probably make a NOTIFY be issued using either a builder pattern or by giving a struct. Or maybe both, depending on just how complex the arguments are.

[2018-01-06 19:52] djc commented on #63
@jonhoo [there is now](https://github.com/djc/imap-proto/commit/cb3c6d358d909a316ddbebba7b748d7f2e3701c2).

[2018-01-06 23:00] jonhoo commented on #63
I don't think I'll end up using it in rust-imap, but would it be worthwhile for completeness to also add support for the IDLE responses? From what I can tell, the only valid response lines are:
[code]

[2018-01-10 22:20] jonhoo commented on #63
@jkaessens Given that it looks like this can be implemented pretty straightforwardly, you think you might want to write up a PR? I'd be happy to mentor and review. Basically, start by copying the code for doing IDLE, and then implement `Iterator` for the NOTIFY struct which keeps parsing the lines read from the connection and parsed using `imap-proto`'s `parse_response`. This will (once @djc cuts

[2018-01-11 07:08] jkaessens commented on #63
Alright, let's try that! It will take me some days to crawl through the code, though.

[2018-01-11 15:09] jonhoo commented on #63
@jkaessens great! Happy to help give you pointers if you need them! https://gitter.im/djc/tokio-imap may also be a useful point of contact.

[2018-01-12 09:49] jkaessens commented on #63
@jonhoo So the `NOTIFY` syntax is basically `NOTIFY <NONE | [STATUS] SET <mailbox-spec> >`. If it's a `NONE` or a non-`STATUS` `SET`, the server just returns an `OK` response. If the `STATUS` flag is set, it returns one `STATUS` line for every mailbox specified before the final `OK`. I'm thinking about how to implement the `Iterator::next`. If `NONE` or non-`STATUS` `SET`, it's trivial. But what t

[2018-01-12 17:07] jonhoo commented on #63
I'm inclined to have two different methods then:
[code]

[2018-01-18 09:58] jkaessens commented on #63
@jonhoo Please take a look at https://github.com/jkaessens/rust-imap/tree/notify . This includes your PR but when trying to use the `ZeroCopyResult`, the borrow checker started to question my mental stability. Let's just focus on feedback on my last few commits. There's also a `#[test]` for it.

[2018-01-18 16:20] jonhoo commented on #63
@jkaessens Overall it looks pretty reasonable! I wouldn't worry too much about `ZeroCopyResult`. The biggest thing I would change is to have `Client::notify()` take a `NotifyOp` directly and immediately issue the `NOTIFY` command when called. I'd then also add a second method to `Client`, `Client::notify_status`, which also takes a `NotifyOp` and returns what `NotifyHandle::set_status` currently d

[2018-01-18 16:21] jonhoo commented on #63
Also, I think it's probably reasonable to open a PR for your changes -- it makes it a little easier to discuss/comment inline. We can deal with rebasing when #58 is merged when that happens.

[2018-01-18 18:59] jkaessens commented on #63
@jonhoo Thanks a lot for your feedback. Being a Rust newbie, I'm still struggling to leave my burnt-in C++'isms behind and adopt The Rust Way to do things. As you have certainly noticed, it currently revolves around understanding when to use `&str` with an enforced lifetime or `String`, when to give a `&Vec<u8>` or a `&[u8]`, etc etc.
However, I will try to refine the code with your suggestions. A

[2018-01-18 19:25] jonhoo commented on #63
That's fine -- you can just put `[WIP]` in the PR title so we know not to merge it yet. That way I can monitor the progress and give you suggestions along the way :)

Another useful tool is `clippy` -- it gives suggestions for how to make your code more idiomatic! I don't know that it's been run on the imap crate as a whole though, so you may need to filter out some noise.

[2018-02-09 16:22] #28 closed

[2018-04-03 10:59] TsarFox opened #67 "0.7.0 examples are out of date"
Attempting to compile the example code in `README.md` with version 0.7.0 of the library yields the following compiler output:

[code]

Documentation of this new library interface would be very helpful; I switched to 0.6.0 this morning after a frustrating night of trying to figure out 0.7.0

[2018-04-03 11:02] TsarFox opened #68 "Enabling debug output causes a panic."
Running the following code with version 0.7.0 of the library:

[code]

Has a panic at runtime with the following stacktrace:

[code]

[2018-04-03 14:21] jonhoo commented on #68
Thanks! This should be fixed after #65 landed, but we haven't pushed a new version yet. And unfortunately that's not something I have the power to do :) cc @mattnenterprise.

[2018-04-03 14:26] jonhoo commented on #67
Ouch, yeah, that would be annoying. Good catch!
I'll try to take a look at this today. Ideally we should use [`cargo-readme`](https://github.com/livioribeiro/cargo-readme) so that we can move the example into the documentation in `src/lib.rs`. That would make it run as a doctest so we could ensure it doesn't break in the future.

For what it's worth, the errors above are fixed by a) using `imap_so

[2018-04-03 17:04] #67 closed

[2018-04-04 01:01] mattnenterprise commented on #68
@jonhoo I just pushed out a new version with that fix.

[2018-04-04 01:18] mattnenterprise opened #69 "Allow jonhoo publish access to the crate"
@jonhoo Would it be easier just to move this repo to an organization so you can publish to crates.io ?
The process of adding others is described at https://doc.rust-lang.org/cargo/reference/publishing.html#cargo-owner
I guess we could create a dummy organization and team, but never move the repo as an alternative. If you didn't want to move the repo.

[2018-04-04 16:13] jonhoo commented on #68
Fixed!

[2018-04-04 16:13] #68 closed

[2018-04-04 16:16] jonhoo commented on #69
Adding me as an owner should be sufficient to allow me to publish new versions, and should require an org. In particular, you should just be able to do:

[code]

But moving this repo into an org is probably a good idea anyway. In part because we could then possibly combine some of the work with what @djc and @sanmai-NL have been doing on `imap-proto` and `tokio-imap`. Gathering all the imap stuff

[2018-04-05 00:07] mattnenterprise commented on #69
Got a particular org name in mind ? Is 'rust-imap' good enough ?

[2018-04-05 02:25] jonhoo commented on #69
Yeah, I think `rust-imap` is as good an org name as any! The question is more so what to name this repository after we move it. If we're also thinking we might move `imap-proto` and `tokio-imap` in there, just `imap` may be somewhat ambiguous. Although maybe it's fine. Thoughts @djc / @sanmai-NL ?

[2018-04-05 11:29] djc commented on #69
I was also thinking `rust-imap` would be a good org name, and we can consider moving `tokio-imap` (which these includes the `imap-proto` repo) into that org, as well.

[2018-04-26 15:34] jonhoo opened #70 "Provide better error messages when username or password contains newline"
The error that is current returned is pretty hard to understand unless you're intimately familiar with the internals of `rust-imap`.

[2018-04-26 16:00] jonhoo commented on #70
Probably by using the [`failure`](https://github.com/rust-lang-nursery/failure) crate and making liberal use of `ResultExt::context`.

[2018-04-27 18:25] jonhoo opened #71 "Fail more gracefully if we fail to decode server replies"
Currently, [this line](https://github.com/mattnenterprise/rust-imap/blob/c28d08851c3b1472b7cb37589171c9648b57ca46/src/client.rs#L526) will always trigger, which causes us to send a logout to the server. Which is probably fine. But then we try to read the response to the `LOGOUT`, where we fail because we didn't finish parsing the response that caused us to terminate the connection in the first pla

[2018-04-29 12:32] mikecardwell opened #72 "Discarded EXPUNGE/EXISTS responses"
When the wait functions return on an `IdleHandle`, the response doesn't contain the list of untagged EXPUNGE and EXISTS responses that have occurred. This means we don't necessarily know which sequence ids correspond to which messages anymore. E.g, we may be able to determine that a message was deleted because the `exists` parameter on the mailbox was decremented, but we don't know if that was the

[2018-05-06 19:37] jonhoo commented on #72
Yeah, that's a good point, and something I've wanted to fix for a while. I *think* the way we want to do this is implement `Iterator` for `IdleHandle` and yield the untagged responses as they occur, with the end of the iterator indicating that the `IDLE` was either cancelled or an error occurred. This is the same kind of thing we'd like to support for `NOTIFY`, which @jkaessens is working on over

[2018-06-26 19:22] jonhoo opened #74 "Add more ergonomic interfaces and examples for common use-cases."
For example, operations like listing and searching (including the UID variants) should be both supported and well documented, as it's something many users are likely to want to do. See also https://github.com/mattnenterprise/rust-imap/pull/73#issuecomment-400428137

[2018-06-26 19:22] jonhoo commented on #69
ping @mattnenterprise

[2018-06-30 13:47] duesee opened #77 "Do rust-imap provide bindings to something?"
The README says that rust-imap are "IMAP client bindings for Rust." Is this correct? Skipping through the source code this seems not to be the case.

[2018-07-01 15:17] jonhoo commented on #77
@duesee it does not bind to anything else per se, no :) It provides a client library for IMAP is a more technically accurate way of saying it I suppose. If you open a PR I'd be happy to merge!

[2018-07-02 19:22] djahandarie opened #78 "Does rust-imap parse things twice?"
It seems like a common pattern in the codebase is to use `run_command_and_read_response`, and then parse its output. However, `read_response` already fully parses the response, its just that the results of the parsing seems to be discarded https://github.com/mattnenterprise/rust-imap/blob/master/src/client.rs#L521.

Assuming my reading of the code is correct, is there a reason it's laid out like t

[2018-07-02 19:59] jonhoo commented on #78
You are completely correct. This is an artifact of me wanting to make the changes as small as possible in #58 (which was already a pretty major change). That code could definitely be cleaned up significantly, and be made more efficient in the process.

I'm hoping that I'll have time at some point over the summer to do some deeper cleanup of `rust-imap`, including things like this, though if you wa

[2018-07-02 21:26] djahandarie commented on #78
Understood! Thanks for the very quick response. If I run into serious performance issues I may take a shot at refactoring it, but that hasn't happened yet. :-)

[2018-07-04 15:03] kper opened #79 "Cannot compile example"
I encountered some troubles when I wanted to implement `imap` in my project.

[code]

**I fixed it by downgrading the `native_tls` dependency to version `0.1`.**
So my `Cargo.toml` looks like this now:
[code]

Maybe you could make the `native_tls` dependency of imap public.

[2018-07-04 15:12] jonhoo commented on #79
Ah, sorry, this has been fixed in #73, but because of #69 I cannot yet publish a new version of the crate to make that change visible (which would solve your problem) :(

ping @mattnenterprise

[2018-07-13 21:37] jonhoo commented on #69
ping @mattnenterprise

[2018-07-16 13:20] theduke opened #80 "Simple LIST command fails with Gmail"
Hey there.

I'm trying to LIST all mailboxes with Gmail.

Connecting works fine, but executing the list command results in weird "Unknown command" errors.

**NOTE**: the value for the command changes with each invocation.

[code]

[code]

[2018-07-16 19:03] theduke commented on #80
Turns out I forgot to call `client.login(...)`.

Is there a smoother way to detect a missing login and produce an approrpiate error?

[2018-07-16 19:11] jonhoo commented on #80
Hmm, yes, in theory we could differentiate this using types. We could give you an `UnauthenticatedClient` when you call `connect` (or `secure_connect`), and then have `login` consume `self` and produce a `Client`. It'd be a pretty major API change, but I have some other changes along those lines I've wanted to make too, so I think it's a good idea. I'm sort of waiting on #69, since without that I

[2018-07-17 14:04] kper opened #81 "Panicked with `Parse(Unexpected("MailboxData(Recent(1))"))`"
Hello!

I wrote a minimal example of my code, which works totally fine when only one guy sends an email. However, when I try to send an email from two different email addresses to server at the same time, my server panics.

Cargo.toml
[code]

main.rs:
[code]

[2018-07-17 14:04] kper commented on #81
Error:
[code]

[2018-07-17 15:57] jonhoo commented on #81
Hmm, I wonder if this is a bug in `imap-proto`. Perhaps @djc can shed some light on it?

[2018-07-18 12:46] djc commented on #81
@jonhoo can you tell me what the `Parse(Unexpected())` part is? Ideally I'd like to see the on-the-wire data, which would make it a bit easier to troubleshoot this.

[2018-07-18 15:42] kper commented on #81
Is there a good way to capture the on-the-wire-data?
I tried to capture it with Wireshark, unfortunately all imap servers I know are using ssl, therefore is everything encrypted and I have no idea how to extract the key.
https://serverfault.com/questions/360259/cant-decrypt-imaps-traffic-in-wireshark

[2018-07-18 16:12] djc commented on #81
`SSLKEYLOGFILE` (https://developer.mozilla.org/en-US/docs/Mozilla/Projects/NSS/Key_Log_Format) can help depending on what TLS library you are using, and Wireshark can consume the resulting file. Otherwise you could insert some `println!()` calls in `imap` or `imap-proto`...

[2018-07-18 16:20] jonhoo commented on #81
Actually, on a closer look, I think this errors stems from [here](https://github.com/mattnenterprise/rust-imap/blob/72ee4aabe30a1bb38da2635419a1bb82acf57f45/src/parse.rs#L104), which suggests that the `UID FETCH` returns something this is *not* a `Response::Fetch`. Specifically, from the error you're giving, it gets a `Response::MailboxData(Recent(1))` instead, which seems really odd?

A wire data

[2018-07-18 17:09] djc commented on #81
Reading the RFC, I think this might be an untagged (unsolicited) server message. That is, I think the assumption that you'll only get FETCH responses in response to a FETCH command is wrong.

[2018-07-18 17:26] jonhoo commented on #81
What makes you say that? [6.4.5](https://tools.ietf.org/html/rfc3501#section-6.4.5) says:
[code]
Which I take to mean that you should only get `FETCH` responses?

[2018-07-18 18:16] kper commented on #81
Thanks!

Here is the ssl stream from wireshark (I hope it is ok, that I posted it as comment, if you prefer I can export it)

**Strangely, I get another error message today**

[code]

[code]

[2018-07-18 20:11] jonhoo commented on #81
@kper you can probably remove some of the intermediate
[code]
segments to make it harder to read. This seems like a different issue though? Specifically, here you get `Parse(Invalid([]))`, whereas previously you got a `Parse(Unexpected(...))`?

The `Parse(Invalid([]))` I comes from [here](https://github.com/mattnenterprise/rust-imap/blob/master/src/parse.rs#L45) when parsing this response:
[code]

[2018-07-18 20:15] jonhoo commented on #81
@kper can you try with dea9398e08c91be683dac5ceb5a404e1e1d04873 ? Won't fix the `Unexpected`, but should fix the `Invalid`, which might give us a trace for the `Unexpected` :)

[2018-07-19 03:52] kper commented on #81
Great! Thanks, the minimal example seems to run fine again :)

[2018-07-19 03:57] jonhoo commented on #81
Hmm, that's so weird. This shouldn't fix the `Unexpected` you were seeing :/

[2018-07-19 04:11] kper commented on #81
I can't even explained why the error message changed  - same emails, same server, same code

I'll run the patch on my test server for a few days. Let's see if I get any error message. If not I will close this issue after the weekend.

Huge thanks to you guys!

[2018-07-21 15:46] kper commented on #81
Ok, I managed to to reproduce the error from before. I replied on an email from the server several times, waited until the server printed it out and then replied again. This leads to the error:

`thread 'main' panicked at 'called Result::unwrap() on an `Err` value: Parse(Unexpected("MailboxData(Recent(1))"))', libcore/result.rs:945:5`

[code]

[2018-07-21 16:05] jonhoo commented on #81
Interesting... It looks like the response to your last `FETCH`:
[code]
starts with
[code]
which is all good, but is then followed by:
[code]
before it ends with
[code]

@djc from the RFC, [I don't believe this is possible](https://github.com/mattnenterprise/rust-imap/issues/81#issuecomment-406010686). AFAICT, only untagged `FETCH` responses should be sent in response to a `FETCH` command? Have you

[2018-07-21 16:06] jonhoo commented on #81
Ahh, on further inspection of [Section 7](https://tools.ietf.org/html/rfc3501#section-7):

[2018-07-21 16:29] #81 closed

[2018-07-21 16:30] jonhoo commented on #81
@kper can you confirm that 72925cf1d81e0812375ce7a09ccb99b401078298 indeed fixes the issue?

[2018-07-21 16:41] kper commented on #81
Looks good to me :)
Thanks

[2018-07-21 17:17] jonhoo commented on #81
@mattnenterprise this also requires a release, or #69.

[2018-07-21 20:36] djc commented on #81
@jonhoo nice find! I figured it was something like that.

[2018-07-24 11:23] sanmai-NL commented on #69
@jonhoo: are you co-maintainer now? I cannot see it in the GitHub UI it appears.

[2018-07-24 13:27] jonhoo commented on #69
@sanmai-NL nope. I have push access to the repo, but am not an "Owner" on crates.io, so cannot publish new versions.

[2018-07-24 14:01] GreeFine opened #82 "Displaying email content"
Hello, I used a previous versions of this crate to fetch and get the email content, but with the updated version i don't find anything on how to access the contents of the fetch.

Previously i fetched and got my reponsse like this:
[code]

But now even with this and the example you give, I only get a list of flags and some ID/UID
`Fetch { message: 348, flags: ["\\Seen"], uid: None, rfc822_header:

[2018-07-24 14:59] jonhoo commented on #82
Hi there! Yes, the old version of this crate did not parse the response that comes back from the server, and instead had you parse it out yourself. As of #58, that has changed, but it does mean that there are some attributes that we don't expose just because we haven't though of them :) The `BODY` field specifically is parsed as of #76 (through `Fetch::body()`), but due to #69, I can't actually pu

[2018-07-25 09:32] GreeFine commented on #82
Thank you for the support @jonhoo !
Here is the solution i use with your answer.
Maybe put something alike in the example section might help people like me in the future.

[code]

[2018-07-25 09:32] #82 closed

[2018-07-25 15:01] jonhoo commented on #74
See also https://github.com/mattnenterprise/rust-imap/issues/82#issuecomment-407694266

[2018-07-25 15:01] jonhoo commented on #69
ping @mattnenterprise

[2018-07-29 19:03] dario23 commented on #80
@jonhoo +1 for the `UnauthenticatedClient`/`Client` idea, i had a small step in that direction too, some time ago

[2018-08-02 00:15] dario23 commented on #72
i think we should take an even broader perspective on this, as not only idle and notify, but also a number of other imap commands (like noop, but as i read rfc3501 sec. 5.3, 5.5 and 7 basically any command) can produce out-of-band responses that we need to be able to deal with.

what do you think of having a sort of queue/iterator/channel (in golang-speak) for  responses that arent related to the

[2018-08-02 06:53] jonhoo commented on #72
Hmm, yes, that sounds like it could work well. I recently had unilateral responses come up in #81, which I fixed mostly by ignoring them through 72925cf1d81e0812375ce7a09ccb99b401078298, but instead parsing them and sending them somewhere the user can observe them would be better!

[2018-08-07 20:01] ArnoldDeRuiter opened #83 "Using extern crate, compile issue."
I tried to compile my freshly created Hello World Rust application with the ``imap`` crate.
After doing so, the compiler stumbles upon a compile error for the ``unrachable`` library, saying it cannot find the ``void`` crate it wants to use.

See also my StackOverflow question, [here](https://stackoverflow.com/questions/51692485/rust-cant-find-extern-crate-for-a-extern-crate).
I have more info to b

[2018-08-19 22:46] jonhoo commented on #83
I'll need more information to reproduce this. The code you give in your SO post works fine for me:
[code]
[code]
[code]

[2018-08-20 11:36] jonhoo commented on #69
ping @mattnenterprise

[2018-08-30 19:53] #80 closed

[2018-08-30 19:54] jonhoo commented on #69
ping @mattnenterprise

[2018-09-21 15:04] jonhoo commented on #69
ping @mattnenterprise

[2018-10-05 09:05] mtorromeo commented on #69
I hope this can be resolved soon. I was already forced to use the git version due to the lack of updates and the issues with `native-tls` and the latest openssl but now I am just using my own fork.

[2018-10-10 16:36] pycebs opened #90 "What is the situation with pushing updates to crates.io ?"
Hello everyone.

So the last push to crates.io was in April. However there were quite a few updates since then on github. Also I've seen a few issues being opened about this as well.

So what is the current situation here? Is the original contributor not responding? Can he/she not just add other contributors to the "Allowed to publish to crates.io" list? Is the original contributor sick? I really

[2018-10-10 16:41] jonhoo commented on #90
The original author, @mattnenterprise, has not been available since ~April. The plan was to give me publish access to the crate, and maybe even move it to a GitHub organization (see #69), but there's been no update on that since @mattnenterprise went silent. I've tried e-mailing him too, but haven't gotten any reply.

[2018-10-10 16:43] jonhoo commented on #90
Until the situation resolves, you should either use this as a `git` dependency, or use [`tokio-imap`](https://github.com/djc/tokio-imap) instead which is under the custody of @djc.

Long term, if nothing changes, my guess is that we'll either publish this under a different name, or that we'll build a synchronous compatibility layer on top of `tokio-imap` to avoid duplication of effort.

[2018-10-10 16:52] pycebs commented on #90
Wow your response time is very fast!

Thanks for letting me know. I'm aware of tokio-imap but I cannot assess if it has all the features that I need. Do you have any insights into this?

What I need to be able to do is this:
- Get all messages from a selected IMAP folder
- Get all FLAGS for every message as well
- Ability to add and remove FLAGS for any one selected email (mark as read/unread, fla

[2018-10-10 16:54] jonhoo commented on #69
To those watching this issue: I've pinged the crates.io team and they're looking into what we might be able to do to move forward :)

[2018-10-10 16:57] jonhoo commented on #90
`tokio-imap` _can_ do all of that, but it (currently) provides very low-level bindings; you basically have to issue all the IMAP requests yourself (see [the docs](https://docs.rs/tokio-imap/0.3.0/tokio_imap/client/struct.Client.html)). I think @djc's plan is for that situation to improve, but don't know their timeline.

As for this crate, I've pinged the crates.io maintainers, and we may be able t

[2018-10-10 17:03] pycebs commented on #90
Wow awesome. Definitely sticking with rust-imap then. Thanks for your help!

[2018-10-10 17:03] #90 closed

[2018-10-10 17:07] jonhoo commented on #90
You can start trying it out with:
[code]

[2018-10-10 21:25] djc commented on #90
Just to make it clear, tokio-imap is currently more like passively maintained: I don't have any active projects that are using it, so I'll just try to fix issues as they get filed and review PRs.

[2018-10-21 11:37] djc commented on #69
@jonhoo any update from the team? @mattnenterprise pretty please?

[2018-10-21 13:57] dario23 commented on #72
so, while having some more thoughts on this i ended up with the following question: **how unwilling are we to adopt imap-proto types in the public interface of rust-imap?**

the history of ending up at that question is roughly as follows: having one iterator/channel of all unsolicited server responses depends on having one common supertype for all possible responses (which are at least `EXPUNGE`,

[2018-10-21 16:49] jonhoo commented on #72
Hmm, I'm not entirely sure I follow. I'm not against directly exposing `imap-proto` types in public interfaces at all, but I *would* like us to ensure that users don't have to handle more responses that are impossible. Which implies that we should indeed have a `UnsolicitedResponse` enum of all possible unsolicited responses. I think there should also be a similar enum for `IDLE/NOTIFY` responses

[2018-10-21 17:06] dario23 commented on #72
NOTIFY responses include Fetch, so we'd need that, yes.

the part i was trying to get at was that rust-imap `Fetch` is a struct which to construct you'd need at least a message sequence number and flags. so it doesn't fit well for single-field updates that NOTIFY sends us.

on the other hand using the imap-proto types for FETCH responses, namely `AttributeValue` brings (beside the dependency in ou

[2018-10-21 17:14] jonhoo commented on #72
I could be wrong, but surely a `NOTIFY` response doesn't include *all* the stuff in `AttributeValue`, but instead only some of them? I'd propose that we create appropriate `enum`s that have *only* the things you can in fact receive in each instance, and if that includes exposing an `imap-proto` type directly, then I'm fine with that :)

[2018-10-21 18:35] dario23 commented on #72
well, as far as i understood [rfc5465](https://tools.ietf.org/html/rfc5465#page-7) (the example on page 7 specifically), when the server sends fetch responses, any of the [fetch command responses from the original imap rfc](https://tools.ietf.org/html/rfc3501#section-7.4.2) can be a part of that.

trying to test that, i didn't get dovecot to accept the more extended event sets like `notify set sta

[2018-10-24 16:29] jonhoo commented on #69
Brief update from today:

[2018-11-03 19:56] whl36512 opened #93 "Compilation error - use nom"
Hi, thank you for create this package. Very useful.
One small thing.  When compiling, I got
error[E0658]: access to extern crates through prelude is experimental (see issue #44660)
   --> /root/.cargo/git/checkouts/rust-imap-eddc04189818a7a1/f02950a/src/client.rs:776:25
    |
776 |                     Err(nom::Err::Incomplete(..)) => {
    |

I added
use nom;
to src/client.rs, and everything was f

[2018-11-03 20:03] #93 closed

[2018-11-03 20:04] jonhoo commented on #93
Thanks! Very weird that this didn't fail for me. It somehow compiles both on `stable`, `beta`, and `nightly` on [Travis](https://travis-ci.org/mattnenterprise/rust-imap/builds/449547978), and compiles locally for me :/

[2018-11-04 03:16] whl36512 commented on #93
i am using
rustc 1.29.0 (aa3ca1994 2018-09-11)

don't know if it makes any difference.

Thx for fixing it so quickly

[2018-11-04 12:29] portaloffreedom opened #94 "Build fail on system with openssl 1.1.1"
Easy fix, you just need to update the openssl library

Related Github issue:
https://github.com/sfackler/rust-openssl/issues/994

this is the error:
[code]

[2018-11-04 13:30] kmkaplan opened #95 "Client.authenticate() should Base64 encode the data from the Authenticator"
[RFC 3501 6.2.2. AUTHENTICATE Command](https://tools.ietf.org/html/rfc3501#section-6.2.2) says that

So the Base64 encoding is really part of the IMAP protocol. The [PLAIN SASL mecanism specification](https://tools.ietf.org/html/rfc2595#section-6)  even does _not_ show the encoding. That means that every `Authenticator::process` method has to do the Base64 encoding. It would be easier for everybod

[2018-11-04 16:05] jonhoo commented on #95
I agree, that seems reasonable! I'd be happy to review a PR.

[2018-11-04 16:07] jonhoo commented on #94
Are you trying to operate on the version on crates.io, or on the git version? Sadly, due to #69, crates.io hasn't seen a release in quite some time. The git version depends on `native-tls 0.2`, which doesn't suffer from that issue :)

[2018-11-04 18:09] portaloffreedom commented on #94
Oh, I see :(

Yes, I'm running the crates.io version. I'll try the git version and I think my problem will be solved. If that's not the case, I'll write something here.

I think the issue should stay open until the crates.io version is updated. Mostly for other people that will have the same problem.

[2018-11-05 07:31] kmkaplan commented on #95
OK, I'll do that.

[2018-11-08 21:14] pycebs commented on #69
@mattnenterprise Can you please take care of this? According to your GitHub history it looks like you're still active. This will only take a few seconds and would help a lot of people.

[2018-11-08 21:35] dario23 commented on #69
@pycebs as i understand it, @jonhoo is already in talks with the crates.io people, but it takes some time (according to the crates.io policies and being fair to the current/previous owner on crates.io), so there's nothing that can be done in just a few minutes currently :-(

[2018-11-09 03:11] jonhoo commented on #69
@pycebs sadly it seems like @mattnenterprise is no longer watching this repository or checking the GitHub interface -- they're only pushing to private repositories. I've tried to reach out by e-mail, but to no avail. @dario23 is right that I'm touch with the crates.io people, and that transitioning through that process takes a while (we don't want people to be able to easily grab other people's cr

[2018-11-10 10:08] MarkusBarthlen commented on #69
Would it make sense to rename/fork the project (maybe even temporarily)?

Edit: Nevermind, I did not know how easy it was to depend on the latest github state of a library.

[2018-11-14 14:00] jonhoo commented on #69
Still no follow-up from the crates.io team sadly. I don't want to keep pinging them given that @sgrif said they'd get back to me, though #94 is pretty troubling. Is anyone bottlenecked by having to depend on `git` for the time being? Trying to determine how critical bumping `imap` on crates.io is :)

[2018-11-14 16:24] sanmai-NL commented on #69
@jonhoo: We’re not. Thanks for all your effort...

[2018-11-17 15:35] pycebs commented on #69
I added the github url to my cargo.toml and it works just fine.  So it's not super urgent.

`imap = { git = "https://github.com/mattnenterprise/rust-imap.git" }`

[2018-11-21 17:06] jonhoo commented on #69
@sgrif told me yesterday that he's hoping to get a resolution to this very soon!

[2018-11-21 21:33] #95 closed

[2018-11-21 21:34] jonhoo commented on #83
I'll close this given that I didn't hear anything more.

[2018-11-21 21:34] #83 closed

[2018-11-21 21:37] #62 closed

[2018-11-21 21:37] #70 closed

[2018-11-21 21:37] #77 closed

[2018-11-22 03:32] jonhoo commented on #69
I now have publish access! I made some serious revisions to docs and crate organization earlier today in f83742dc3d37fb005055bfb5531d63569fd0ee27, and will push out `imap 0.9.0` tomorrow! :tada:

[2018-11-22 16:07] pycebs commented on #69
First of all: Congratulations to finally getting publish access. This actually happened faster than I thought.

But also: What an update! 0.9 docs improvements and look fantastic!!

[2018-11-22 19:29] jonhoo commented on #69
`imap 0.9` is now finally out :tada:
And look at [those docs](https://docs.rs/imap/0.9)!

[2018-11-22 19:29] jonhoo commented on #94
Fixed in `0.9`!

[2018-11-22 19:29] #94 closed

[2018-11-22 19:29] jonhoo commented on #79
Fixed in `0.9`!

[2018-11-22 19:29] #79 closed

[2018-11-22 19:30] jonhoo commented on #74
Mostly fixed in `0.9`. We may still want builder-type interfaces for some of these to enforce the IMAP protocol through the type system, but I'll close this for now and open a separate issue for tracking typed interfaces.

[2018-11-22 19:30] #74 closed

[2018-11-22 19:31] jonhoo commented on #54
I think this is now done? All message data is returned as `&[u8]`, and `imap-proto` should deal with non-UTF-8 stuff in the protocol just fine?

[2018-11-22 19:31] jonhoo commented on #50
`0.9` has been tagged!

[2018-11-22 19:31] #50 closed

[2018-11-22 19:37] jonhoo opened #99 "Provide variants of all interfaces with typed arguments"
Most of the APIs we currently expose take `&str` arguments whose format is strictly dictated by [RFC 3501](https://tools.ietf.org/html/rfc3501). That's unfortunate, because it makes it easy for users to do things that are incorrect. Instead, we should write up typed versions of all those APIs (probably using the [builder pattern](https://rust-lang-nursery.github.io/api-guidelines/type-safety.html#

[2018-11-22 19:38] jonhoo opened #100 "Conform to the Rust API guidelines"
While `0.9` made some significant improvements to the `imap` crates' interface, we still have some way to go. In particular, we should go through the [Rust API guidelines checklist](https://rust-lang-nursery.github.io/api-guidelines/checklist.html) and do the best we can to match its recommendations. I think this is probably a blocker for 1.0.

[2018-11-22 19:42] jonhoo commented on #59
I really don't know what to do about this. I *suspect* we don't actually want to make `Client` a trait, as instead whatever thing you have that uses a `Client<T>` should just be generic over `T`. Do you have a particular more complete use-case in mind that we can look at?

[2018-11-22 19:43] jonhoo commented on #50
I also went back and tagged `0.8.1` and `0.8.0`!

[2018-11-22 19:43] jonhoo commented on #48
I'm still trying to figure out if this is something we want as `rustfmt` does occasionally change it's mind about style... :/

[2018-11-22 20:00] jonhoo opened #101 "Add more serious testing"
While we currently have some amount of inline unit testing, we really want to test this library against a "real" IMAP server. The way to do that is probably to spin up [GreenMail](http://www.icegreen.com/greenmail/) on Travis and then do a bunch of operations on the mail server.

I *think* what we'll want is this:
 - Pull in the [GreenMail Docker image](http://www.icegreen.com/greenmail/#deploy_do

[2018-11-22 22:16] cyphar commented on #59
I haven't looked at this in a long time, so feel free to close it.

[2018-11-22 23:14] #59 closed

[2018-11-23 01:32] jonhoo commented on #101
Moved to https://github.com/jonhoo/rust-imap/issues/101.

[2018-11-23 01:32] #101 closed

[2018-11-23 01:32] jonhoo commented on #100
Moved to https://github.com/jonhoo/rust-imap/issues/100

[2018-11-23 01:32] #100 closed

[2018-11-23 01:33] jonhoo commented on #99
Moved to https://github.com/jonhoo/rust-imap/issues/99

[2018-11-23 01:33] #99 closed

[2018-11-23 01:33] jonhoo commented on #78
Let's move further discussion to https://github.com/jonhoo/rust-imap/issues/78.

[2018-11-23 01:33] #78 closed

[2018-11-23 01:35] jonhoo commented on #72
Let's move further discussion to https://github.com/jonhoo/rust-imap/issues/72.

[2018-11-23 01:35] #72 closed

[2018-11-23 01:35] jonhoo commented on #71
Moved to https://github.com/jonhoo/rust-imap/issues/71.

[2018-11-23 01:35] #71 closed

[2018-11-23 01:36] jonhoo commented on #63
Let's move further discussion to https://github.com/jonhoo/rust-imap/issues/63.

[2018-11-23 01:36] #63 closed

[2018-11-23 01:37] jonhoo commented on #60
Let's move further discussion to https://github.com/jonhoo/rust-imap/issues/60.

[2018-11-23 01:37] #60 closed

[2018-11-23 01:37] jonhoo commented on #54
Moved to https://github.com/jonhoo/rust-imap/issues/54.

[2018-11-23 01:37] #54 closed

[2018-11-23 01:38] jonhoo commented on #48
Let's move further discussion to https://github.com/jonhoo/rust-imap/issues/48.

[2018-11-23 01:38] #48 closed

[2021-05-19 12:34] freswa commented on #63
@jkaessens Are you still interested in contributing this code? Would you mind if someone else continues your work?

[2021-05-19 12:56] dario23 commented on #63
@freswa the project sort-of moved, see @jonhoo comment above. any new development is at the [jonhoo/rust-imap fork](https://github.com/jonhoo/rust-imap) only.

[2021-05-19 12:59] freswa commented on #63
@dario23 I'm aware of that. Though, the NOTIFY extension has not been implemented yet and this is the only approach for jonhoo/rust-imap I could find. I'd like to ask the author first before I start another approach on the recent repo.

[2021-06-02 06:31] jkaessens commented on #63
@freswa Thanks for asking. I followed the project quite a while but lost track when there were some movements towards tokio-style workflow. I'm quite busy right now but may pick this up in the future. If someone wants to work on that, I'd be happy to take part in it/assist. So yes, feel free to do whatever you like with that, and I'd might chime in at some point, or even provide test infrastructur